.idea
.ipynb_checkpoints
.mypy_cache
.vscode

__pycache__/
*/__pycache__/
*.py[cod]
.pyc
*.pyc

.env
env
venv
*.egg-info/
.installed.cfg
*.egg

dist
db.sqlite3
.DS_Store

*.log
*.db

build
doc
home.rst

.pytest_cache
